div{
    background-color: red;
}
.search{
    width: 92%;
    height: 200px;
    background-color: green;
    margin: 2%;
}
.slide{
    width: 92%;
    height: 200px;
    background-color: green;
    margin: 2%;
}